$display-font-weight: 400;

@import '../lib/mdb-ui-kit/scss/mdb.free.scss';
@import 'https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap';

:root {
    --mdb-body-font-family: 'Inter', sans-serif;
}

html {
    overflow-y: scroll !important;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin-right: 0 !important;
    padding-right: 0 !important;
    background-color: #fbfbfb;
}

footer {
    margin-top: auto;
    margin-right: 0 !important;
    padding-right: 0 !important;
}

.navbar {
    margin-right: 0 !important;
    padding-right: 0 !important;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    margin-top: 52px;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
    width: 240px;
    z-index: 600;
}

.sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: 0.5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

main {
    margin-top: 58px;
}

.fw-medium {
    font-weight: 500;
}

.fw-semi-bold {
    font-weight: 600;
}

span {
    &.status-Available,
    &.status-Occupied {
        border-radius: 4px;
        color: $white;
        padding: 4px 12px;
    }

    &.status-Available {
        background-color: $success;
    }

    &.status-Occupied {
        background-color: $danger;
    }
}

form {
    .editable {
        background: $info;
        color: $white;
    }
}

@media (min-width: 991.98px) {
    .sidebar {
        bottom: 0;
    }

    main {
        padding-left: 240px;
    }

    footer {
        margin-left: 240px;
    }
}

@media (max-width: 991.98px) {
    .sidebar {
        width: 100%;
    }
}